* {
    font-family: "Mohave", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(249, 239, 252);
}

header {
    background-color: rgb(255, 242, 125);
    margin: 0px;
    width: 100%;
    padding: 5px;
}

main {
    display: flex;
}

h1 {
    color: rgb(94, 158, 81);
    padding-left: 60px;
}

h3 {
    margin: 0 0 20px 0;
}

.card {
    margin: 20px;
    border: 5px solid rgb(113, 159, 197);
    border-radius: 10px;
    background-color: rgb(231, 254, 255);
    padding: 20px;
}

#cont {
    display: flex;
    padding: 10px;
}

.item {
    border: 5px solid rgb(255, 242, 125);
    border-radius: 10px;
    background-color: rgb(253, 249, 213);
    color: rgb(94, 158, 81);
    text-align: center;
    font-weight: 700;
    padding: 10px;
    margin: 2px;

}

.options {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 1.2em;
    margin: 10px;
    width: 120px;
}

input {
    border: 2px solid rgb(230, 163, 243);
    border-radius: 5px;
    background-color: rgb(231, 254, 255);
    height: 25px;
    width: 50px;
    margin: 10px 0 10px 0;
}

select {
    height: 30px;
    width: 120px;
    border: 2px solid rgb(129, 0, 189);
    border-radius: 5px;
    background-color: rgb(236, 189, 245);
    
}

button {
    border: 2px solid rgb(129, 0, 189);
    border-radius: 5px;
    background-color: rgb(236, 189, 245);
    height: 30px;
    margin: 10px;
}

